::-webkit-scrollbar { 
    display: visible; 
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: clear;
    width: 4px;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: cadetblue;
    width: 3px;
    height: 10px;
}

body {
    background-color: #282828;
    font-family: calibri;    
    text-indent: 6px;
    width: 99%;
    margin:0 auto;
}

/* Style the header: fixed position (always stay at the top) */
.header {
    border-radius: 5px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 99%;
    background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
    border-radius: 5px;
    width: 100%;
    height: 7px;
    background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    border-radius: 5px;
    height: 7px;
    background-color: cadetblue;
    width: 0%;
}


#topDiv {
    border-radius: 5px;
    padding: 3px;
    background-color: #ff0000;
    height: 102px;
    opacity: 0.8;
}
h1 {
    font-size: 45px;
    color: black;
    font-family: Garamond, "calibri";
    font-weight: bold;
    letter-spacing: 3px;
}

h4 {
    text-indent: 45px;
    font-size: 20px;
    color: black;
    font-family: Garamond, "calibri";
    font-weight: bold;
    letter-spacing: .9px;
}

#topDiv h1:before, #topDiv h1 {
    content: 'True Grit';
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: Garamond, "calibri";
    font-weight: bold;
    letter-spacing: 3px;
    -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 2s; /* Firefox < 16 */
        -ms-animation: fadeout 2s; /* Internet Explorer */
            animation: fadeout 2s;
}
@keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#topDiv h1:hover:before {
     -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
            animation: fadein 2s;
    content: 'Crowns & Bridges';
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: Garamond, "calibri";
    font-weight: bold;
    letter-spacing: 7px;
    transition-timing-function: ease-in;
    transition: 2s;
    opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#imgDiv {
    white-space:nowrap;
    text-align: center;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}
#imgDiv::-webkit-scrollbar {  
    height: 11px;
}
#imgDiv:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #F0F0F0;
}
#imgDiv img {
    display: inline-block;
    border: 3px solid;
    border-color: whitesmoke;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 50px;
    max-height: 280px;
    object-fit: cover;
}

#imgTeam {
    margin: 10px;
    padding: 10px;
    background-color: #282828;
    white-space:nowrap;
    text-align: center;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
}
#imgTeam::-webkit-scrollbar {  
    height: 11px;
}
#imgTeam:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #F0F0F0;
}
#imgTeam img {
    opacity: .8;
    display: inline-block;
    border: none;
    border-color: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 50px;
    max-height: 280px;
    object-fit: cover;
}

#body {
    background-color: beige;
    border-radius: 5px;
    text-align: left;
    padding-top: 1px;
    padding-left: 3px;
    padding-bottom: 10px;
    margin-bottom: 14px;
    margin-top: 5px;
}
#body h3 {
    padding-left: 6px;
}
#body p {
    padding-left: 12px;
}

#lowerdiv {
    float:left;
    display:flex;
    padding: 5px;
    margin-bottom: 17px;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: left;
    
} /*contact div*/
#btm1 {
    line-height: 16px;
    display: inline-block;
    padding-left: 10px;
    float: inherit;
    overflow:hidden;
    border-radius: 5px;
    text-align: left;
    width: 30%;
}
#btm2 {
    
    display: inline-block;
    float: inherit;
    overflow:hidden;
    border-radius: 5px;
    text-align: left;
    width: 15%;
}
#btm3 {
    display: inline-block;
    float: inherit;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    width: 25%;
}
#btm3 img {
    opacity: 1;
    transition: .3s;
}
#btm3 a {
    border: 3px solid;
    border-color: whitesmoke;
    text-decoration: none;
}
#btm3 img:hover {
    opacity: 0.6;
}
#btmright {
    display: inline-block;
    float: right;
    background-color: darkgray;
    vertical-align: top;
    padding: 10px;
    border-radius: 5px;
    max-width: 30%;
    width: 30%;
    overflow:hidden;
    text-align: center;
}

/*The solid bottom borders under the headings (work exp, skills, etc) */
.heading {
    border-bottom: solid;
}
/* used for shortcuts and borders*/
#aboutme {
    border-bottom: solid;
}
#hobbies {
    border-bottom: solid;
}
#interests {
    border-bottom: solid;
}
#edu {
    border-bottom: solid;
}

/*creates the menu bar*/
.menulist {
    font-family: Georgia, serif;
    font-weight: normal;
    background-color: #e0e0eb;
    border-radius: 5px;
    padding: 0px 14px;
    padding-left: 0px;
    height: 75px;
    list-style: none;
    list-style-type: none;
    overflow: hidden;
    border-color: blue;
    border: none;
}
.menulist ul {
    overflow: visible;
    
}
.menulist a {
    padding: 50px 20px;
    color: black;
    text-decoration: none;
}
.menulist li:link {
    text-decoration: none;
}
.menulist li:visited {
    text-decoration: none;
}
/* menu on hover */
.menulist a:hover {
    text-decoration: none;
    overflow: visible;
}
.menulist li:active {
    text-decoration: none;
}


/*The buttons and drop down menus on the menu bar*/
.dropdown {
    display: inline;
    overflow: hidden;
}

.dropbtn {
    height: 75.5px;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: darkseagreen;
    transition: .2s;
    border-radius: 1px;
}

.dropdown-content {
    opacity: .995;
    border-radius: 2px;
    display: none;
    position: absolute;
    margin-left: .3%;
    background-color: #f9f9f9;
    width: 98.5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#resumepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*validator img not in use*/
#validator img {
    display: inline-block;
    text-decoration-line: none;
    vertical-align: bottom;
}


#greeting {
    margin-bottom: 0;
    padding-bottom: 0px;
    padding-top: 30px;
    border-bottom: solid;
    font-size: 40px;
    font-style: italic;
    font-family: Garamond, "Header";
}
/*sendmsg div for form */
.sendmsg {
    margin-top: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select, textarea {
    width: flex; /* [FIX to flex] Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 8px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Submit button styling */
input[type=submit] {
    width: 80px;
    background-color: cadetblue;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    color: black;
    background-color: #79d279;
    font-weight: bold;
    transition: .5s;
   
}
/* Reset button styling */
input[type=reset] {
    width: 80px;
    background-color: cadetblue;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]:hover {
    background-color: #ff9999;
    font-weight: bold;
    color: black;
    transition: .5s;
}
